services:
  labs:
    build: ./
    env_file:
      - .env
    shm_size: '2gb'
    volumes:
      - ./:/app/
      - /d/obara/myPictures:/pictures/
    ports:
      - "7860:7860"
    runtime: nvidia
